html {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
  margin: 0;
  width: 100%;
}

header {
  text-align: center;
  background-color: darkgrey;
  color: white;
}

h1 {
  margin: 0px;
  padding: 10px;
  text-align: center;
}

nav {
  text-align: center;
}

ul {
  margin-top: 2px;
  margin-bottom: 10px;
}

li {
  display: inline-block;
  background-color: grey;
  padding: 7px;
  text-decoration: none;
  color: white;
}
